---
version: "3.4"

x-environment-variables: &environment-variables
  - AUTH0_CLIENT_ID=$AUTH0_CLIENT_ID
  - AUTH0_CLIENT_SECRET=$AUTH0_CLIENT_SECRET
  - AUTH0_TENANT=neon-law-testing.auth0.com
  - DATABASE_URL=postgres://postgres:password@postgres:5432/neon_law
  - SHADOW_DATABASE_URL=postgres://postgres:password@postgres:5432/neon_law_shadow
  - ROOT_DATABASE_URL=postgres://postgres:password@postgres:5432/postgres
  - ELASTICSEARCH_URL=http://elastic:changeme@elasticsearch:9200
  - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
  - NODE_ENV=development
  - SHOW_GRAPHIQL=true
  - CYPRESS_AUTH_URL=$CYPRESS_AUTH_URL
  - CYPRESS_AUDIENCE_URL=$CYPRESS_AUDIENCE_URL
  - CYPRESS_AUTH0_CLIENT_ID=$CYPRESS_AUTH0_CLIENT_ID
  - CYPRESS_AUTH0_CLIENT_SECRET=$CYPRESS_AUTH0_CLIENT_SECRET
  - GATSBY_WEBPACK_PUBLICPATH=/

x-node-volumes: &node-volumes
  - ./:/app
  - node_modules:/app/node_modules
  - ./yarn.lock:/app/yarn.lock:ro

services:
  postgres:
    image: postgres:11
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: neon_law
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - ./docker/pg-init-scripts:/docker-entrypoint-initdb.d
    command: ["postgres", "-c", "shared_preload_libraries=pg_stat_statements"]
    logging:
      driver: none

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2
    container_name: elasticsearch
    environment:
      - "discovery.type=single-node"
    ports:
      - 9200:9200
    logging:
      driver: none

  api:
    build:
      context: ./
      dockerfile: ./docker/api.Dockerfile
    restart: always
    container_name: api
    depends_on:
      - shell
    ports:
      - 3000:3000
    environment: *environment-variables
    volumes: *node-volumes

  interface:
    build:
      context: ./
      dockerfile: ./docker/development.interface.Dockerfile
    container_name: interface
    restart: always
    depends_on:
      - api
    ports:
      - 8000:8000
      - 33000:33000
    volumes: *node-volumes
    environment:
      PACKAGE_NAME: interface
      GATSBY_API_URL: http://127.0.0.1:3000/api/graphql
      INTERNAL_STATUS_PORT: 33000

  shell:
    build:
      context: ./
      dockerfile: ./docker/base.Dockerfile
    container_name: shell
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    environment: *environment-variables
    restart: unless-stopped

volumes:
  node_modules:
