---
version: "3.8"

x-environment-variables: &environment-variables
  - AUTH0_CLIENT_ID=$AUTH0_CLIENT_ID
  - AUTH0_CLIENT_SECRET=$AUTH0_CLIENT_SECRET
  - AUTH0_TENANT=neon-law-testing.auth0.com
  - CYPRESS_ADMIN_USER_PASSWORD=$CYPRESS_ADMIN_USER_PASSWORD
  - CYPRESS_AUTH_URL=$CYPRESS_AUTH_URL
  - CYPRESS_AUTH0_CLIENT_ID=$CYPRESS_AUTH0_CLIENT_ID
  - CYPRESS_AUTH0_CLIENT_SECRET=$CYPRESS_AUTH0_CLIENT_SECRET
  - CYPRESS_PORTAL_USER_PASSWORD=$CYPRESS_PORTAL_USER_PASSWORD
  - DATABASE_URL=postgres://postgres:password@postgres:5432/neon_law
  - ELASTICSEARCH_URL=http://elastic:changeme@elasticsearch:9200
  - GATSBY_AUTH0_CALLBACK=http://127.0.0.1:8000/callback/
  - GATSBY_AUTH0_CLIENT_ID=dplmcTTWBbkd9j5jFd1LMr26c25Iugv7
  - GATSBY_AUTH0_DOMAIN=neon-law-testing.auth0.com
  - GATSBY_WEBPACK_PUBLICPATH=/
  - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
  - NEW_RELIC_NO_CONFIG_FILE=true
  - NODE_ENV=development
  - ROOT_DATABASE_URL=postgres://postgres:password@postgres:5432/postgres
  - SHADOW_DATABASE_URL=postgres://postgres:password@postgres:5432/neon_law_shadow
  - SHOW_GRAPHIQL=true
  - TRANSLOADIT_KEY=$TRANSLOADIT_KEY
  - TRANSLOADIT_SECRET=$TRANSLOADIT_SECRET
  - TRANSLOADIT_PDF_TEMPLATE_ID=$TRANSLOADIT_PDF_TEMPLATE_ID
  - TRANSLOADIT_IMAGE_TEMPLATE_ID=$TRANSLOADIT_IMAGE_TEMPLATE_ID

x-node-volumes: &node-volumes
  - ./:/app
  - /app/node_modules/
  - /app/packages/api/node_modules/
  - /app/packages/delete-your-data/node_modules/
  - /app/packages/interface/node_modules/
  - /app/packages/justice-for-rickie-slaughter/node_modules/
  - /app/packages/law-job-resources/node_modules/
  - /app/packages/legal-templates/node_modules/
  - /app/packages/mercury-bank/node_modules/
  - /app/packages/print/node_modules/
  - /app/packages/shared-ui/node_modules/
  - /app/packages/workers/node_modules/

services:
  postgres:
    image: postgres:11
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: neon_law
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - ./docker/pg-init-scripts:/docker-entrypoint-initdb.d
    command: ["postgres", "-c", "shared_preload_libraries=pg_stat_statements"]
    logging:
      driver: none

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2
    container_name: elasticsearch
    environment:
      - "discovery.type=single-node"
    ports:
      - 9200:9200
    logging:
      driver: none

  api:
    build:
      context: ./
      dockerfile: ./docker/api.Dockerfile
    restart: always
    container_name: api
    depends_on:
      - shell
    ports:
      - 3000:3000
    environment: *environment-variables
    volumes: *node-volumes

  workers:
    build:
      context: ./
      dockerfile: ./docker/workers.Dockerfile
    restart: always
    container_name: workers
    depends_on:
      - shell
    environment: *environment-variables
    volumes: *node-volumes

  interface:
    build:
      context: ./
      dockerfile: ./docker/development.interface.Dockerfile
    container_name: interface
    restart: always
    depends_on:
      - api
    ports:
      - 8000:8000
    volumes: *node-volumes
    environment:
      PACKAGE_NAME: interface

  shell:
    ipc: host
    image: docker.pkg.github.com/neonlaw/codebase/base
    container_name: shell
    volumes: *node-volumes
    environment: *environment-variables
    restart: unless-stopped
    depends_on:
      - elasticsearch
      - postgres

  law_job_resources:
    build:
      context: ./
      dockerfile: ./docker/development.interface.Dockerfile
    restart: always
    container_name: law_job_resources
    depends_on:
      - api
    ports:
      - 5000:8000
      - 33001:33001
    volumes: *node-volumes
    environment:
      PACKAGE_NAME: law-job-resources

  justice_for_rickie_slaughter:
    build:
      context: ./
      dockerfile: ./docker/development.interface.Dockerfile
    restart: always
    container_name: justice_for_rickie_slaughter
    depends_on:
      - api
    ports:
      - 7000:8000
      - 33002:33002
    volumes: *node-volumes
    environment:
      PACKAGE_NAME: justice-for-rickie-slaughter

  delete_your_data:
    build:
      context: ./
      dockerfile: ./docker/development.interface.Dockerfile
    restart: always
    container_name: delete_your_data
    depends_on:
      - api
    ports:
      - 7777:8000
      - 33003:33003
    volumes: *node-volumes
    environment:
      PACKAGE_NAME: delete-your-data
